@page
@model TakeAwayExample2.Pages.Customer.Cart.SummaryModel

@using Microsoft.Extensions.Options
@*Inject the Stripe api*@
@inject IOptions<TakeAwayExample2.Utility.StripeSettings> Stripe

@{
}

<form method="post">
    <br />

    @if (Model.detailCart.ShoppingCartList.Count > 0)
    {
        <input asp-for="@Model.detailCart.ShoppingCartList[0].UserID" hidden />

        <div class="">
            <div class="container">
                <div class="card">
                    <div class="card-header bg-dark text-light ml-0 row container">
                        <div class="col-6">
                            <i class="fa fa-shopping-basket"></i> &nbsp;
                            Order Summary
                        </div>
                        <div class="col-6 text-right">
                            <a asp-page="Index" class="btn btn-outline-info btn-sm">Back to Cart</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="container rounded p-2">
                            <div class="row">
                                <div class="col-12 col-lg-6 pb-4">
                                    <div class="row">
                                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                                            <span class="text-info">PickUp Details:</span>
                                        </h4>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-4">
                                            <label asp-for="@Model.detailCart.OrderHeader.PickupName"></label>
                                        </div>
                                        <div class="col-8">
                                            <input id="txtName" type="text" asp-for="@Model.detailCart.OrderHeader.PickupName" class="form-control" onblur="validateName(this)" />
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-4">
                                            <label asp-for="@Model.detailCart.OrderHeader.PhoneNumer"></label>
                                        </div>
                                        <div class="col-8">
                                            <input id="txtPhone" type="text" asp-for="@Model.detailCart.OrderHeader.PhoneNumer" class="form-control" onblur="validateNumber(this)" />
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-4">
                                            <label asp-for="@Model.detailCart.OrderHeader.CollectionDate"></label>
                                        </div>
                                        <div class="col-8">
                                            <input id="datepicker" value="" type="text" asp-for="@Model.detailCart.OrderHeader.CollectionDate" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-4">
                                            <label asp-for="@Model.detailCart.OrderHeader.CollectionTime"></label>
                                        </div>
                                        <div class="col-8">
                                            <input id="timepicker" value="" type="text" asp-for="@Model.detailCart.OrderHeader.CollectionTime" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-4">
                                            <label>Additional Instructions:</label>
                                        </div>
                                        <div class="col-8">
                                            <textarea type="text" asp-for="@Model.detailCart.OrderHeader.Comments" style="height: 100px;" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-lg-5 offset-lg-1">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-info">Order Summary:</span>
                                    </h4>
                                    <ul class="list-group mb-3">

                                        @*This will accumilate the total*@
                                        @{ var total = 0M;}

                                        @foreach (var item in Model.detailCart.ShoppingCartList)
                                        {
                                        <li class="list-group-item d-flex justify-content-between">
                                            <div>
                                                <h6 class="my-0">@item.MenuItem.MenuItemName</h6>
                                                <small class="text-muted">Item(s): @item.ItemCount</small>
                                            </div>
                                            <span class="text-muted">@((item.MenuItem.MenuItemPrice * item.ItemCount).ToString("c"))</span>
                                            @{ total += (item.MenuItem.MenuItemPrice * item.ItemCount); }
                                        </li>
                                        }

                                        <li class="list-group-item d-flex justify-content-between bg-light">
                                            <small class="text-info">Total (USD)</small>
                                            <strong class="text-info">@total.ToString("c")</strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-12 col-md-4 offset-md-8">

                                @{
                                    //Sends the order total to the Stripe server in the format of cents
                                    var OrderTotalForStripe = Model.detailCart.OrderHeader.OrderTotal * 100;
                                }

                                <script src="https://checkout.stripe.com/checkout.js"
                                        class="stripe-button"
                                        data-key="@Stripe.Value.PublishableKey"
                                        data-amount="@OrderTotalForStripe"
                                        data-name="Take Away App"
                                        data-label="Place Order"
                                        data-description="Stripe Test for the Take Away App"
                                        data-locale="auto"
                                        data-allow-remember-me="false"
                                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"></script>
                                

                                <button type="submit" value="Place Order" class="btn btn-success form-control" onclick="return validateForm()">Place Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }

</form>

@section Scripts{

    <script src="~/js/datePicker.js"></script>
    <script src="~/js/timePicker.js"></script>
    <script src="~/js/summaryValidation.js"></script>
}