@page
@model TakeAwayExample2.Pages.Customer.Home.DetailsModel
@{
}

<div class="">
    <form method="post">

        @*Need to have a hidden field to carry the value of MenuItemID*@
        <input type="hidden" asp-for="ShoppingCartObj.MenuItemID" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="container">
            <div class="">
                <h1 class="text-primary">@Model.ShoppingCartObj.MenuItem.MenuItemName</h1>
                <h3 class="text-primary">@Model.ShoppingCartObj.MenuItem.Category.CategoryName</h3>
            </div>
            <div class="row">
                <div class="col my-1">
                    <img src="@Model.ShoppingCartObj.MenuItem.MenuItemImage" style="width: 400px;" class="my-2" />
                    <div class="row mx-1">
                        <span class="badge badge-success p-2 my-2">@Model.ShoppingCartObj.MenuItem.FoodType.FoodTypeName</span>
                    </div>
                    <h3>@Model.ShoppingCartObj.MenuItem.MenuItemPrice.ToString("c")</h3>
                    <div class="form-group">
                        <label asp-for="ShoppingCartObj.ItemCount" class="h4"></label>
                        <input style="border: 1px solid lightgray; margin-left: 10px;" type="number" asp-for="ShoppingCartObj.ItemCount" />
                        <span asp-validation-for="ShoppingCartObj.ItemCount" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary" style="height:40px;">Add to Cart</button>
                    <a class="btn btn-dark text-white" style="height:40px;" asp-page="./Index">Back to List</a>
                </div>
                <div class="col my-1">
                    <p>@Model.ShoppingCartObj.MenuItem.MenuItemDescription</p>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <!--This tells this page to use the jquery validation script, if we go to this page we'll see the jquery scripts-->
    <partial name="_ValidationScriptsPartial" />
}